@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #f9f9f9;
    background-image: url(../Image/bg.png);
    background-repeat: repeat-y;
    background-position: center center;
    position: relative;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  background: #000033;
  padding: 15px;
  outline: 0;
  border: 0;
}

p {
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}


/*======= 1.top header =========*/

.header-top-area {
  background-color: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 50px;
  box-shadow: 0 5px 5px 0 rgba(0 0 0 / 20%);
}

.navbar-brand {
  float: left;
}

.navbar-brand img {
  margin-top: -30px;
  background-size: cover;
  height: 100px;
  float: left;
}

.brnad-title {
  float: left;
  padding-left: 10px;
  margin-top: -20px;
  color: #000033;
}

.header-contact p {
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #000033;
}

/*======= 2.main-menu-area =======*/

.navbar-default {
  margin-top: 141px;
  background-color: #000033;
  border-color: #000033;
}

.navbar {
  border-radius: none;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 17px;
  text-align: left;
  list-style: none;
  background-color: #000033;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 2.428571;
  color: #fff;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #000033;
}
.login-part {
  background-color: #660000;
  text-transform: uppercase;
  transition: 0.5s;
  border: 1px solid #000033;
}

.login-part:hover {
  border: 1px solid #000033;
  text-transform: uppercase;
  transition: 0.5s;
}
/*====== 3.slider-notice-part =====*/

.main-notice-part {
  padding: 10px;
}

.slider-part {
  margin-top: 20px;
}

.carousel .item {
  height: 500px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
  background-size: cover;
  border: none;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: none;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.carousel-control.left {
    background-image: none !important;
    background-image: none !important;
    background-image:none !important;
    background-image:none !important;
    filter:none;
    background-repeat: repeat-x;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none !important;
  background-image: none !important;
  background-image:none !important;
  background-image:none !important;
  filter:none;
  background-repeat: repeat-x;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: 0.9;
}

/*======== 4.Notice Board =====*/


.manaquee {
  padding: 10px;
  color: white;
}

.notice-part a {
  color: #222222;
  text-decoration: none;
}

.d-left {
  float: left;
  background-color: #660000;
  color: white;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.N-block {
  padding: 10px;
  color: #660000;
  margin-top: -16px;
}

.notice-board h3 {
  color: #fff;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.notice-scroll{
    border: 1px solid rgba(0,0,0,.125);
    padding: 10px 0;
    background-color: #f9f9f9;
}

.bg-notice {
  border-radius: 15px;
  font-size: 15px;
  height: 410px;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px dotted #222;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

/*==== 5.message-part=====*/

.message-part {
  padding: 15px;
}

.welcome-message h3 {
  font-size: 25px;
  padding: 10px;

  border-radius: 0;
  color: #222;
}

.message-deatils {
  border: 1px solid rgba(0,0,0,.125);
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 0px;
  margin-top: 50px;
}

.chairman-image img {
  height: 230px;
  width: 100%;
  background-size: cover;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.chairman-profile p {
  color: #222;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.chairman-profile h4{
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.chairman-profile i {
  color: #fff;
  height: 40px;
  width: 40px;
  background-color: #660000;
  border-radius: 100%;
  padding: 11px;
  text-align: center;
}

.message-info {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 0.1px 0.5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.our-vision {
  border: 1px solid rgba(0,0,0,.125);
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 0px;
  margin-top: 50px;
}

/*====6 .academic calender====*/
.academic-calender a {
  text-decoration: none;
  color: #660000;
}
.academic-calender a:hover {
  text-decoration: none;
  color: #222;
}
.academic-calender {
  background-color: whitesmoke;
  padding: 5px;
  color: #660000;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
}
.caleder-part{
  margin-top: 50px;
}
.caleder-part h3 {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -ms-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#08c),
    to(#0044cc)
  );
  background-image: -webkit-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -o-linear-gradient(to bottom, #08c, #0044cc);
  background-image: linear-gradient(to bottom, #08c, #0044cc);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
  background-color: #0044cc;
  color: #000;
}

/*7. important link===*/
.goverment-link{
  margin-top: 50px;
}
.goverment {
  background-color: #f9f9f9;
  border: 1px solid rgba(0,0,0,.125);
  padding: 15px 0;
  height: 100%;
}

.goverment a {
  text-decoration: none;
  color: #222;
  margin-left: 20px;
  display: block;
}

.goverment a:hover {
  text-decoration: none;
  color: #660000;
}

.goverment i {
  color: #660000;
}

.important-link h3 {
  color: #660000;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/*important-goverment link*/

.learning {
  background-color: #f9f9f9;
  border: 1px solid rgba(0,0,0,.125);
  padding: 15px 0;
  height: 100%;
}

.e-kosh {
  padding: 5px 20px 5px 20px;
  background-color: #660000;
  border-radius: 50px;
  border: none;
  transform: scale(1);
  transition: 0.6s;
  color: white;
  margin-left: 20px;
}

.e-kosh:hover {
  padding: 5px 20px 5px 20px;
  background-color: #660000;
  border-radius: 50px;
  border: none;
  transform: scale(1.2);
  transition: 0.6s;
  color: white;
}

.important-link h3 {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/*===8.footer===*/

.footer {
  background-color: whitesmoke;
  padding: 30px;
  margin-top: 10px;
  box-shadow: 0px 0px 0.1px 0.5px rgba(0, 0, 0, 0.1);
}
.footer-left {
  margin-top: 25px;
}

.footer-left img {
  height: 40px;
  width: 40px;
  float: left;
}

span.seperator p {
  padding-right: 40px;
  margin-left: 50px;
  line-height: 0.9em;
}

.social-site {
  float: right;
}

.social-site i {
  color: #fff;
  font-size: 14px;
  height: 30px;
  background-color: #660000;
  width: 30px;
  padding: 7px 10px;
  text-align: center;
  border-radius: 50%;
}
.social-site p{
  margin-top: 15px;

}

/*============ message page ===========*/

.message-panel-info {
  background-color: #f9f9f9;
  padding: 15px;
  margin-top: 40px;
  border: 1px solid rgba(0,0,0,.125);
  transition: 0.5s;
}


.panel-profile i {
  color: #fff;
  background-color: #660000;
  padding: 12px;
  border-radius: 5px;
}

.message-read-more {
  background-color: #660000;
  color: white;
  padding: 8px 20px 8px 20px;
  border: none;
}

.modal-content {
  padding: 15px;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

/*governing body page*/

.governing-body-profile {
  margin-top: 50px;
  padding: 15px;
  background-color: #fff;
}

.governing-body-profile img {
  height: 200px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: scale(1);
  transition: 0.5s;
}

.governing-body-profile img:hover {
  height: 200px;
  width: 200px;
  box-shadow: 0px 0px 0.1px 0.3px rgba(0, 0, 0, 1);
  transform: scale(1.1);
  transition: 0.5s;
}

.governing-body-profile p {
  margin-top: 10px;
  color: #222;
}

/* Teacher Info Page*/

.teacher-deatails {
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.teacher-profile img {
  height: 150px;
  width: 140px;
  transform: scale(1);
  transition: 0.5s;
}

.teacher-profile img:hover {
  height: 150px;
  width: 140px;
  transform: scale(1.1);
  transition: 0.5s;
}
/*daily dairy*/
.panel-info {
  border-color: #bce8f1;
  padding: 10px;
}
.selectpicker {
  height: 40px;
  width: 230px;
  margin-bottom: 20px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 20px;
}
.h-details6jan.date {
  margin-bottom: 20px;
}
/* staff Info Page*/

.staff-deatails {
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.staff-profile img {
  height: 150px;
  width: 140px;
  transform: scale(1);
  transition: 0.5s;
}

.staff-profile img:hover {
  height: 150px;
  width: 140px;
  transform: scale(1.1);
  transition: 0.5s;
}
.staff-info i {
  color: #660000;
}
.staff-profile i {
  color: #660000;
}

/*school history*/

.school-history {
  background-color: whitesmoke;
  padding: 15px;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.7em;
}

/*infrastracture page*/
.gallery-buildng img {
  height: 200px;
  width: 100%;
}
.searc-button {
  padding: 7px 20px 7px 20px;
  background-color: #fff;
  color: #222;
  border: none;
}

/*student info page*/

.fees-info {
  color: #222;
  background-color: #fff;
  padding: 15px;
}

.student-list > table {
  width: 100%;
}

.student-list > table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.student-list > th,
td {
  padding: 5px;
  text-align: left;
}

.student-list {
  margin-top: 50px;
  color: #222;
  background-color: #fff;
  padding: 10px;
}

.propectus {
  margin-top: 30px;
}

.propectus a {
  text-decoration: none;
  color: #fff;
}

.admission-info {
  margin-top: 50px;
}

.Prospectus-school {
  background-color: #660000;
  padding: 8px 20px 8px 20px;
  border-radius: 20px;
  color: #fff;
}

.admission-notice {
  background-color: whitesmoke;
  padding: 15px;
  box-shadow: 0px 0px 0.1px 0.5px rgba(0, 0, 0, 0.1);
}

.admission-contiotion {
  background-color: whitesmoke;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0px 0px 0.1px 0.5px rgba(0, 0, 0, 0.1);
}

.Prospectus-school:hover {
  background-color: #000033;
  padding: 8px 20px 8px 20px;
  border-radius: 20px;
  color: #fff;
  transition: 0.5s;
}

/*dress code page*/

.dress-code {
  margin-top: 50px;

  color: #222;
  background-color: #fff;
  padding: 15px;
}

.notice-details {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
}
/*exam routine page*/

.exam-date i {
  color: #222;
}

.exam-date {
  border-right: 1px solid #222;
}

.routin-download i {
  color: #222;
}

.exam-title {
  border-right: 1px solid #222;
}

.exam-routine a {
  color: #fff;
}

.exam-routine {
  background-color: #660000;
  text-align: center;
  padding: 15px;
  border: 1px solid #000033;
  color: #fff;
  transition: 0.5s;
  margin-top: 20px;
}

.exam-routine:hover {
  background-color: #000033;
  text-align: center;
  padding: 15px;
  color: #fff;
  box-shadow: 0px 0px 0.1px 0.5px rgba(0, 0, 0);
  transition: 0.5s;
}

/*public Result Page*/

.Result-date i {
  color: #222;
}

.Result-date {
  border-right: 1px solid #222;
}

.result-download i {
  color: #222;
}

.Result-title {
  border: none;
}

.public-exam-result a {
  color: #fff;
}
.online-form {
  background-color: #fff;
  padding: 30px;
}
.buttgroup {
  margin-top: 30px;
}
.resetbutton {
  padding: 7px 20px 7px 20px;
  background-color: #fff;
  color: #222;
  border: none;
  background-color: #660000;
}
.resetbutton:hover {
  padding: 7px 20px 7px 20px;
  background-color: #fff;
  color: #222;
  border: none;
  background-color: #fff;
}
.submitbutton {
  padding: 7px 20px 7px 20px;
  background-color: #fff;
  color: #222;
  border: none;
  background-color: #660000;
}
.submitbutton:hover {
  padding: 7px 20px 7px 20px;
  background-color: #fff;
  color: #222;
  border: none;
  background-color: #fff;
}
.public-exam-result {
  background-color: #660000;
  text-align: center;
  padding: 15px;
  color: #fff;
  transition: 0.5s;
  margin-top: 20px;
}

.public-exam-result:hover {
  background-color: #000033;
  text-align: center;
  padding: 15px;
  color: #fff;
  box-shadow: 0px 0px 0.1px 0.5px rgb(0, 0, 0);
  transition: 0.5s;
}
.studentprofile img {
  height: 220px;
  width: 200px;
  float: right;
  border: 1px solid #000033;
  margin-bottom: 30px;
}
.choose-file {
  margin-left: 130px;
}
.main-part-header {
  background-color: #f9f9f9;
  padding: 15px;
  color: #000033;
  border: 1px solid rgba(0,0,0,.125);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

/*login page*/
.school-login {
  background-color: #1e7654;
  padding: 15px 25px 15px 20px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  margin-left: 50px;
  margin-top: 30px;
  border: 5px solid #fff;
  border-radius: 5px;
  transform: scale(1);
  transition: 0.5s;
}
.school-login:hover {
  background-color: #2e3192;
  padding: 15px 25px 15px 20px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  margin-left: 50px;
  margin-top: 30px;
  border: 5px solid #fff;
  border-radius: 5px;
  transform: scale(1.1);
  transition: 0.5s;
}
/*contact page*/

.google-map {
  margin-top: 50px;
}

.contact-us {
  color: #fff;
}

.contact-us i {
  font-size: 25px;
}
